@{
    ViewData["Title"] = "Somar";
}

<h1>Calculadora de Soma (apenas soma)</h1>

<form action="/Operacoes/ResultadoSoma" method="post">
    <label for="n1">Número 1</label>
    <input for="n1" name="n1" id="n1">

    <label for="n1">Número 2</label>
    <input for="n2" name="n2" id="n2">

    <input type="submit" value="somar">
</form>
